pkgbase = linux-cachyos
	pkgdesc = Linux EEVDF scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.5.0
	pkgrel = 2
	url = https://github.com/misotolar/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = clang
	makedepends = cpio
	makedepends = libelf
	makedepends = lld
	makedepends = llvm
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.5.tar.sign
	source = https://raw.githubusercontent.com/cachyos/linux-cachyos/46487c06957895f61db06743b591962f8e5e7dc1/linux-cachyos/config
	source = https://raw.githubusercontent.com/cachyos/linux-cachyos/46487c06957895f61db06743b591962f8e5e7dc1/linux-cachyos/auto-cpu-optimization.sh
	source = config.sh
	source = config.trinity.sh
	source = 0001-x86-implement-tsc-directsync-for-systems-without-IA3.patch
	source = 0002-x86-touch-clocksource-watchdog-after-syncing-TSCs.patch
	source = 0003-x86-save-restore-TSC-counter-value-during-sleep-wake.patch
	source = 0004-x86-only-restore-TSC-if-we-have-IA32_TSC_ADJUST-or-d.patch
	source = 0005-x86-don-t-check-for-random-warps-if-using-direct-syn.patch
	source = 0006-x86-disable-tsc-watchdog-if-using-direct-sync.patch
	source = 0101-CACHYOS-cachyos-base-all.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/d7ad912330db2fd59dae38afb49a7cf0646a81cd/6.5/all/0001-cachyos-base-all.patch
	source = 0102-CACHYOS-EEVDF-cachy.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/d7ad912330db2fd59dae38afb49a7cf0646a81cd/6.5/sched/0001-EEVDF-cachy.patch
	source = 0103-CACHYOS-bore-eevdf.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/d7ad912330db2fd59dae38afb49a7cf0646a81cd/6.5/sched/0001-bore-eevdf.patch
	source = 0104-CACHYOS-lrng.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/d7ad912330db2fd59dae38afb49a7cf0646a81cd/6.5/misc/0001-lrng.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 7a574bbc20802ea76b52ca7faf07267f72045e861b18915c5272a98c27abf884
	sha256sums = SKIP
	sha256sums = 3fb01a413c3c194cbbf1dea4c04d5f50c88921c9dd72ce19261c218537d4740d
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = a2f203376a5c156eb38ef39ffd2f7bcea3f903c0729d326dee0fcdc5373b4944
	sha256sums = 65c93f050b25c8f95d99501067bff676d8ef8148c78420bb2b71a7fbb7ee19af
	sha256sums = 980b2108bca4d97acbb8bd962695acac012c8846294486104e25994f059b3594
	sha256sums = d66f2487a84875aea6dd81038a2b806ffb8af2f4c7e4366df0db44c1e3c17b5d
	sha256sums = a6c087a8b1efe889663c48a94ad763a2cf20aa587c40b4cc3d2f89c9bce786c0
	sha256sums = ce17045b4d29519d20920ae7ef33f82757e00b1e189ecbda6ab63782f1318759
	sha256sums = d27a2acec2e65df2226d2025ab255a74acd01ed2162e00907362464e5a2636fc
	sha256sums = 3f51da3f1ed5a0d115e69047ef9fd1cfb36adf48d0e6d812fbf449b61db5d373
	sha256sums = c9bfb01e8def7e743255e8599993aa953ea873f8ecebb390fb1682ff0fa2d818
	sha256sums = 028cb6ad7af536451453fde03316aa3da481726ac39356a1567f4d2670992283
	sha256sums = 3c1fe46f842d141087b59c6838ec35970be7cc3a2785839e72d32c9971089876
	sha256sums = 18d1a9894e313a013b14436e8df748c318248b75151676811c25d3317f5207d4

pkgname = linux-cachyos
	pkgdesc = The Linux EEVDF scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: userspace KSM helper daemon
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-cachyos-headers
	pkgdesc = Headers and scripts for building modules for the Linux EEVDF scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
