pkgbase = linux-cachyos
	pkgdesc = Linux BORE + Cachy Sauce scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.10.0
	pkgrel = 2
	url = https://github.com/misotolar/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = clang
	makedepends = cpio
	makedepends = libelf
	makedepends = lld
	makedepends = llvm
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.10.tar.sign
	source = https://raw.githubusercontent.com/cachyos/linux-cachyos/a3523291c7c28615b7d6567933d9d8727a479758/linux-cachyos/config
	source = https://raw.githubusercontent.com/cachyos/linux-cachyos/a3523291c7c28615b7d6567933d9d8727a479758/linux-cachyos/auto-cpu-optimization.sh
	source = config.sh
	source = config.trinity.sh
	source = 0101-CACHYOS-cachyos-base-all.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/81c95a235a5121751ae5760cb86c7e441f126b61/6.10/all/0001-cachyos-base-all.patch
	source = 0102-CACHYOS-bore-cachy.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/81c95a235a5121751ae5760cb86c7e441f126b61/6.10/sched/0001-bore-cachy.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 774698422ee54c5f1e704456f37c65c06b51b4e9a8b0866f34580d86fef8e226
	sha256sums = SKIP
	sha256sums = 2f1ed7da3c813006e1201eed35708ec53a3458448d463dc75480e1a82581e900
	sha256sums = a91249420d61edb17b8659ab3feca86d24cf3b1c941b14f232c47064fa4f4ce7
	sha256sums = 42f0f4588f23642c48cf8ddf231af61ae8ea0e3bddd4ad5b05dfb217a7b22cf8
	sha256sums = 678b3e986971e6696aeab4e85d8d2027f2feba2531993afd3cb1f487f8014d48
	sha256sums = c218ea4b2c27ac0e095ae6c1dc66000094f43b93710903e0f8e4f74b3dde6c6f
	sha256sums = 60214a8a928781ef6ed9f948d6160d4aa4bf9fec8f465be08b0d5963cfc3a0ac

pkgname = linux-cachyos
	pkgdesc = The Linux BORE + Cachy Sauce scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: userspace KSM helper daemon
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-cachyos-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE + Cachy Sauce scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
