pkgbase = linux-cachyos
	pkgdesc = Linux EEVDF scheduler Kernel by CachyOS with other patches and improvements
	pkgver = 6.3.8
	pkgrel = 1
	url = https://github.com/misotolar/linux-cachyos
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = bc
	makedepends = clang
	makedepends = cpio
	makedepends = libelf
	makedepends = lld
	makedepends = llvm
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.3.8.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.3.8.tar.sign
	source = https://raw.githubusercontent.com/cachyos/linux-cachyos/d48704275107207a76c06f74cdc6d58abb71ea78/linux-cachyos/config
	source = https://raw.githubusercontent.com/cachyos/linux-cachyos/d48704275107207a76c06f74cdc6d58abb71ea78/linux-cachyos/auto-cpu-optimization.sh
	source = config.sh
	source = config.trinity.sh
	source = 0001-x86-implement-tsc-directsync-for-systems-without-IA3.patch
	source = 0002-x86-touch-clocksource-watchdog-after-syncing-TSCs.patch
	source = 0003-x86-save-restore-TSC-counter-value-during-sleep-wake.patch
	source = 0004-x86-only-restore-TSC-if-we-have-IA32_TSC_ADJUST-or-d.patch
	source = 0005-x86-don-t-check-for-random-warps-if-using-direct-syn.patch
	source = 0006-x86-disable-tsc-watchdog-if-using-direct-sync.patch
	source = 0101-CACHYOS-cachyos-base-all.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/1cea10484e68e8c7c21e8fcc6015355050b3f744/6.3/all/0001-cachyos-base-all.patch
	source = 0102-CACHYOS-EEVDF.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/1cea10484e68e8c7c21e8fcc6015355050b3f744/6.3/sched/0001-EEVDF.patch
	source = 0103-CACHYOS-bore-eevdf.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/1cea10484e68e8c7c21e8fcc6015355050b3f744/6.3/sched/0001-bore-eevdf.patch
	source = 0104-CACHYOS-lrng.patch::https://raw.githubusercontent.com/cachyos/kernel-patches/1cea10484e68e8c7c21e8fcc6015355050b3f744/6.3/misc/0001-lrng.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 4323d421250e2e444c35d36f4aa8ddb56591dedc25c68d359d19c4ef9dd20955
	sha256sums = SKIP
	sha256sums = 2969f4e1f7c66bc69a49ddda6ccfecb6dba7b1fedc4bb7f248f28d82944b1b91
	sha256sums = 41c34759ed248175e905c57a25e2b0ed09b11d054fe1a8783d37459f34984106
	sha256sums = 84a343a03454deedf0d08ddfd69c0a8ffe666cba1e28108d795bbb7281298cba
	sha256sums = 93d8ed2d12194510f91a92afd3d6a99e0a11240f60fbcfa589e860a06eb989ac
	sha256sums = 54f77dca3802a9e1036d20cacbc3356823f038b63b6792225a51cc4b8630fa34
	sha256sums = d65bd6c210896610b54abfad15b86756382d3a1eb48835b6a2e16ea5ea541863
	sha256sums = 70472f2ffc33a40796abe7eca9ba5c534fe2b6c035bad1dd13cb6bcd7acd58ab
	sha256sums = f544db22d1ddd9dd482ba552309775671ffb3c712cd43a9fae6fc0152868cc94
	sha256sums = d7e2500fe861c78e3087431f2964f4e79eb2cd3588aadff746f9a9e9b5913804
	sha256sums = 3f51da3f1ed5a0d115e69047ef9fd1cfb36adf48d0e6d812fbf449b61db5d373
	sha256sums = 21f308edbaabd4fc98a9fd706a3af853796b9d267b241a46b11c92e941f17f53
	sha256sums = 9d1baeed3f2e8d53e810c58b3ca6374e0683f72fc0365fca11d350aef550239e
	sha256sums = 41899a5f61f4dd1a643ee204f54d747d8306334a52c4d3b251d0a041a3ed02d2
	sha256sums = 2fff325cf71ecc86dfdd2279460f03bfad42e39e2548ad1009326c0fccaa30e9

pkgname = linux-cachyos
	pkgdesc = The Linux EEVDF scheduler Kernel by CachyOS with other patches and improvements kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: userspace KSM helper daemon
	provides = KSMBD-MODULE
	provides = UKSMD-BUILTIN
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-cachyos-headers
	pkgdesc = Headers and scripts for building modules for the Linux EEVDF scheduler Kernel by CachyOS with other patches and improvements kernel
	depends = pahole
